<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stayabode">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        tools:node="remove" />


    <application
        android:name="com.stayabode.app.AbodeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.mixpanel.android.MPConfig.EnableDebugLogging"
            android:value="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.com.stayabode.app.FacebookContentProvider"
            android:exported="true" />


        <activity
            android:name=".features.login.activities.DashboardActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name="com.stayabode.features.login.activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.stayabode.features.login.activities.AdminLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>


        <activity
            android:name="com.stayabode.features.login.activities.AWCListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>


        <activity
            android:name="com.stayabode.features.login.activities.HomeVisitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>





        <activity
            android:name="com.stayabode.features.login.activities.LoginAfterCheckoutActivity"
            android:screenOrientation="portrait">

        </activity>



        <activity
            android:name="com.stayabode.features.login.activities.LoginActivity"
            android:screenOrientation="portrait">

        </activity>



        <activity
            android:name="com.stayabode.features.login.activities.QuestionsActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.stayabode.features.login.activities.SubQuestionsActivity"
            android:screenOrientation="portrait">
        </activity>


        <service
            android:name="com.stayabode.services.AppFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.stayabode.services.AppFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blush" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="aa29f51494eefaf2f50b4b083da4b473aa1c7b52" />

    </application>
</manifest>